table.type09 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  width: 90%;
  margin-right: 370px;
   

}
table.type09 thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}
table.type09 th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
  text-align: center;
  width: 80px;
}
table.type09 td {
  width: 500px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

table.type09 input {
	width: 300px;
	height: 45px;
	
	
}

.adrinput {
	height: 30px;
}


